body {
    padding-top: 56px;
    padding-bottom: 40px;
    position: relative;
    color: #5a5a5a;
}

.anchor {
    padding-top: 56px;
    margin-top: -56px;
}

.carousel .carousel-item {
    height: 20em;
    text-align: center;
    color: #f8f9fa;
    background-color: #6c757d;
    margin-top: 1em;
}

.carousel img {
    height: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.clearfix {
    margin-top: 5em;
    margin-bottom: 5em;
}

.happy {
    color: gold;
    font-size: 10em;
}

.large {
    font-size: 3em;
    height: 1.5em;
}

.terms {
    height: 30em;
    text-align: justify;
    overflow: auto;
}

#aboutNodes img {
    max-height: 223px;
    max-width: 223px;
}
